## Tuples
A tupple in python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

#### Characterstics 
- Ordered 
- Unchangeble 
- Allows duplicate

## Plan to learning Tuples
- Creating a Tuple
- Accessing items
- Editing items
- Adding items 
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [5]:
# empty
t1 = ()
print(t1)

# creating a tuple with a single item
t2 = ('hello')
print(t2)

# homo
t3 = (1, 2, 3, 4)
print(t3)
# hetro
t4 = (1, 2.5, True, [1, 2, 3])
print(t4)

# tuple with in tuple
t5 = (1, 2, 3, (4, 5))
print(t5)

#using type conversion
t6 = tuple('hello')
print(t6)

()
hello
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing Items
- Indexing
- Slicing

In [9]:
print(t3)
print(t3[0])
print(t3[-1])
print(t3[::-1])
print(t5[-1][0])

(1, 2, 3, 4)
1
4
(4, 3, 2, 1)
4

### Editing items

In [10]:
print(t3)
t3[0] = 100

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

### Adding Items
- not possible

### Deleting items

In [11]:
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

In [12]:
print(t5)
del t5[2]

(1, 2, 3, (4, 5))

TypeError: 'tuple' object doesn't support item deletion

### Operations on Tuples

In [15]:
# + and *
t1 = (1, 2, 3, 4, 5)
t2 = (6, 7, 8, 9)

print(t1 + t2)
print(t1 * 2)

# membership
1 in t1

# iteration
for i in t2:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
6
7
8
9

### Tuple functions

In [17]:
# len/sum/min/max/sorted
t = (1, 8, 3, 19, 0)

print(len(t))
print(sum(t))
print(min(t))
print(max(t))
print(sorted(t))
print(sorted(t, reverse=True))

5
31
0
19
[0, 1, 3, 8, 19]
[19, 8, 3, 1, 0]

In [21]:
# count

t = (1, 2, 3, 4, 5, 1)
print(t.count(1))

# index
print(t.index(1))

2
0

### why use tuple?

### Special Syntax

In [1]:
# tuple unpacking
a, b, c =(1, 2, 3)

In [2]:
a = 1
b = 2

a, b = b, a

print(a, b)

2 1

In [3]:
a, b, *others =(1, 2, 3, 4)
print(a, b)

print(others)

1 2
[3, 4]

In [4]:
# zipping tuples

a = (1, 2, 3, 4)
b = (5, 6, 7, 8)

tuple(zip(a, b))

((1, 5), (2, 6), (3, 7), (4, 8))

## Sets
A set is an unordered collection of items. Every set element is unique(no duplicates) and must be immutable (cannot be changed).
However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

#### Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

#### Creating Sets

In [11]:
# empty
s = set()
print(s)
print(type(s))

# 1D and 2D
s1 = {1, 2, 3}
print(s1)
print(type(s1))

# s2 = {1, 2, 3, {4, 5}}
# print(s2)

# homo and hetro
s3 = {1, 'Hello', 4.5, True, (1, 2, 3, 6)}
print(s3)
print(type(s3))

# using type conversion
s4 = set([1, 2, 3, 4,])
print(s4)

#duplicates not allowed 
s5 = {1, 2, 2, 3, 4, 3, 4, 5, 6,6}
print(s5)

#set can't have mutable items
s6 = {1, 2, [2, 4]}
print(s6)

set()
<class 'set'>
{1, 2, 3}
<class 'set'>
{1, (1, 2, 3, 6), 'Hello', 4.5}
<class 'set'>
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}

TypeError: unhashable type: 'list'

### Acessing items from set

In [13]:
#Set can't be accessible 
#indexing and slicing doesnot work
s = {1, 2, 3, 5}
s[0]

TypeError: 'set' object is not subscriptable

### Editing Items

In [14]:
s = {1, 2, 4, 22, 11}
s[0] = 10

TypeError: 'set' object does not support item assignment

#### Adding Items

In [17]:
s = {1, 2, 3, 4}
#add -> add single items
s.add(10)
print(s)

#update-> add multiple items
w = {9, 2, 3, 1, 11}
w.update([10, 0, 21, 15])
print(w)

{1, 2, 3, 4, 10}
{0, 1, 2, 3, 9, 10, 11, 15, 21}

### Deleting Items

In [27]:
# del -> delete whole set but can't delete the perticuler item
s = {1, 2, 3, 4, 5}
del s

# discard -> delete perticuler item but if item not persent in set it doesn't throw error
w = {11, 12, 13, 14, 15}
w.discard(11)
w.discard(50)
print(w)

# remove -> delete perticuler item but if item not persent in set it throw error
t = {21, 22, 23, 24, 25, 26}
t.remove(23)
# t.remove(30)
print(t)

# pop-> delete random item
print(t.pop())

# clear-> clear the whole set
t.clear()
print(t)

{12, 13, 14, 15}
{21, 22, 24, 25, 26}
21
set()

### Set Operations

In [28]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

#Union(|)
print(s1 | s2)

#intersection(&)
print(s1 & s2)

# Defference(-)
print(s1 - s2)
print(s2 - s1)

# Symmetric Difference(^)
print(s1 ^ s2)

#Membership test
print(1 in s1)
print(1 not in s2)

# iteratin 
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
True
True
1
2
3
4
5

 ### Set Functions

In [29]:
# len/sum/min/max/sorted
s = {1, 2, 3, 4, 5}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s, reverse=True))

5
15
1
5
[5, 4, 3, 2, 1]

In [31]:
# union/update
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

#s1|s2
print(s1.union(s1))
print(s1.update(s2))

print(s1)
print(s2)
# intersection / intersection_update
w1 = {11, 12, 13, 14}
w2 = {15, 16, 17, 18}

print(w1.intersection(w2))
print(w1.intersection_update(w2))

print(w1)
print(w2)

{1, 2, 3, 4, 5}
None
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
set()
None
set()
{16, 17, 18, 15}

In [32]:
# diffrence / difference_update
w1 = {11, 12, 13, 14}
w2 = {15, 16, 17, 18}

print(w1.difference(w2))
print(w1.difference_update(w2))

print(w1)
print(w2)

{11, 12, 13, 14}
None
{11, 12, 13, 14}
{16, 17, 18, 15}

In [33]:
# Symetric_diffrence / Symetric_difference_update
w1 = {11, 12, 13, 14}
w2 = {15, 16, 17, 18}

print(w1.symmetric_difference(w2))
print(w1.symmetric_difference_update(w2))

print(w1)
print(w2)

{11, 12, 13, 14, 15, 16, 17, 18}
None
{11, 12, 13, 14, 15, 16, 17, 18}
{16, 17, 18, 15}

In [34]:
# isdisjoint/issubset/issuperset
s = {1, 2, 3, 4, 5}
t = {8, 9, 10, 6, 7}

s.isdisjoint(w)

True

### frozenset
- Frozen set is just an immutable version of python set object

In [36]:
# create frozenset
fs = frozenset([1, 2, 3])
print(fs)

frozenset({1, 2, 3})

In [ ]:
# what works and what does not
# works -> all read functions
# doesn't work => write operations
# when to use
# 2D sets -> possible

### Set Comprehension

In [38]:
# example
{i**2 for i in range(1, 11) if i > 5}

{36, 49, 64, 81, 100}

### Dictionary

Dictionary in python is a collection of keys values, used to store data values like a map, which unlike other data types which hold only a single values as an element.

In some languages it is known as map or assoiative arrays.

- dict = {'name': 'sushant', 'from': 'uttarakhand', 'gender': 'Male'}

##### Characterstics
- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### Creating Dictionary

In [43]:
# empty dictionary
d ={ }
print(d)

# 1D dictionary
d1 = {'name': 'sushant', 'gender':'male'}
print(d1)

# with mixed keys
d2 = {(1, 2, 3):1, 'hello': 'World'}
print(d2)

# 2D dictionary
s = {
    'name': 'sushant',
    'college': 'kiet',
    'sem': 4,
    'subject':{
        'dsa': 50,
        'os': 63,
        'CN': 76
    }
}
print(s)

#using sequence and dict function
d4 = dict([(1,1),('name', 'sushant'),(2, 'something')])
print(d4)


# mutable item as keys
d6 = {'name':'sushant', (1,2,3):12}
print(d6)

{}
{'name': 'sushant', 'gender': 'male'}
{(1, 2, 3): 1, 'hello': 'World'}
{'name': 'sushant', 'college': 'kiet', 'sem': 4, 'subject': {'dsa': 50, 'os': 63, 'CN': 76}}
{1: 1, 'name': 'sushant', 2: 'something'}
{'name': 'sushant', (1, 2, 3): 12}

### Accessing Items

In [45]:
my_dict = {'name': 'jack', 'age': 25}

# []
print(my_dict['name'])

# get
print(my_dict.get('age'))

jack
25

### Adding key-value pair

In [46]:
my_dict['gender']='male'

print(my_dict)

{'name': 'jack', 'age': 25, 'gender': 'male'}

### removing key-vaue pair

In [56]:
d = {'name':'jack', 'age': 21, 3: 3, 'gender':'male', 'weight': 70}

# pop
d.pop('name')
print(d)

# popitem -> remove the last item from dictionary
d.popitem()
print(d)

# del-> remove all dictionary as well as perticular item
# del d
del d['gender']
print(d)

# clear -> clear the all dictionary
d.clear()
print(d)

{'age': 21, 3: 3, 'gender': 'male', 'weight': 70}
{'age': 21, 3: 3, 'gender': 'male'}
{'age': 21, 3: 3}
{}

### Editing key-value pair

In [57]:
my_dict['name'] = 'Messi'
print(my_dict)

{'name': 'Messi', 'age': 25, 'gender': 'male'}

### Dictionary Operations
- Membership
- Iterations

In [58]:
# membership-> work on keys
print(my_dict)
'name' in my_dict

{'name': 'Messi', 'age': 25, 'gender': 'male'}

True

### Dictionary functions

In [59]:
print(len(my_dict))
print(sorted(my_dict, reverse=True))
print(min(my_dict))
print(max(my_dict))

3
['name', 'gender', 'age']
age
name

In [60]:
# items/keys/values
print(my_dict.items())
print(my_dict.keys())
print(my_dict.values())

dict_items([('name', 'Messi'), ('age', 25), ('gender', 'male')])
dict_keys(['name', 'age', 'gender'])
dict_values(['Messi', 25, 'male'])

### Dictionary Comprehension
#### {key: value for vars in iterables}

In [61]:
# print 1st 10 numbers and theire squarea
{i:i**1 for i in range(1, 11)}

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [62]:
distance = {'delhi': 1000, 'mumbai': 2000, 'banglore': 3000}

print(distance.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('banglore', 3000)])

In [63]:
# using existing dict
distance = {'delhi': 1000, 'mumbai': 2000, 'banglore': 3000}
{key: value*0.62 for (key, value) in distance.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'banglore': 1860.0}

In [65]:
#using zip
day = ['Sunday', 'Monday', 'Tuesday', 'Thursday', 'Friday', 'Saturday']
temp = [30.5, 32.3, 31.8, 33.4, 29.4, 30.2]

{i:j for (i, j) in zip (day, temp)}

{'Sunday': 30.5,
 'Monday': 32.3,
 'Tuesday': 31.8,
 'Thursday': 33.4,
 'Friday': 29.4,
 'Saturday': 30.2}

In [66]:
# Nested comprihension
# print table of number from 2 to 4

{i:{j: i*j for j in range (1, 11)} for i in range(2, 5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}